.nav-open .navbar-collapse {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.navbar {
  .navbar-brand {
    img {
      width: 150px;
      height: auto;
    }

    img.logo_jrr {
      display: none;
    }

    img.logo_jrr_single {
      display: block;
      width: 40px;
    }
  }

  &.navbar-transparent {
    .navbar-brand {
      img.logo_jrr {
        display: block;
      }

      img.logo_jrr_single {
        display: none;
      }
    }
  }
}