.index-page {
  .page-header {
    height: 50vh;
    min-height: 50vh;
  }

  .header-filter:after {
    background: rgba($custom_blue, 0.88);
    background: linear-gradient(45deg,  rgba($custom_blue, 0.88) 0%, rgba($custom_blue, 0.51) 100%);
    background: -moz-linear-gradient(135deg,  rgba($custom_blue, 0.88) 0%, rgba($custom_blue, 0.51) 100%);
    background: -webkit-linear-gradient(135deg,  rgba($custom_blue, 0.88) 0%, rgba($custom_blue, 0.51) 100%);

  }

  .main {
    padding-top: 100px;
    padding-bottom: 120px;

    @media all and (min-width: 320px) {
      padding-top: 140px;
      padding-bottom: 160px;
    }
  }
}

.downloadbutton {
  color:#00263a;
    background:white;
    border:2px solid;
    border-color: #e04403;
    }
.downloadbutton:hover {
    background:#00263a;
    border:#00263a;
    }

.logo_jrr_concept 
{
    height:80%;
    }
    
.padding {
    padding-top: 20px;
    padding-bottom: 20px;
    }

  .element2 {
    width:70%;
    max-width:70%;
    }

     .element3 {
    width:30%;
    max-width:30%;
    }
     .element4 {
    width:30%;
    max-width:30%;
    }

    .kledij {
    width:90%;
    max-width:90%;
    }

    .folder {
    width:100%;
    max-width:100%;
    }
     .affiche {
    width:80%;
    max-width:80%;
    }
    .visite {
    width:100%;
    max-width:100%;
    }

    .newsletter {
    width:70%;
    max-width:70%;
    }